@tailwind base;
@tailwind components;
@tailwind utilities;

// @use '@angular/material' as mat;
// @use './styles/material-css-variables' as *;

@layer utilities {
  .app-loader-filter {
    filter: hue-rotate(28deg) saturate(1.1);
  }
  .app-logo-filter {
    filter: hue-rotate(23deg) saturate(1.3);
  }
}

// @include mat.elevation-classes();
// @include mat.app-background();

// $chat-spin-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     density: (
//       scale: 0,
//     ),
//   )
// );

// :root {
//   @include mat.all-component-themes($chat-spin-theme);
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
