@use '../../../libs/shared/util-directives/src/styles/global-variables' as *;
@use '@angular/cdk';
@include cdk.text-field-autosize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-loader-filter {
    filter: hue-rotate(28deg) saturate(1.1);
  }
  .app-logo-filter {
    filter: hue-rotate(23deg) saturate(1.3);
  }
}

html,
body {
  height: 100%;
  background: #0e1031;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
