@use '../../../libs/shared/util-directives/src/styles/global-variables' as *;
@use '@angular/cdk';
@use 'shared/shared-ui/src/styles/reset';

@include cdk.text-field-autosize;

html,
body {
  height: 100%;
  background: #faeb95;
  color: #362827;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
